<p-toast />
<section class="h-screen w-full flex">
    <div class="card-register h-8 m-auto h-auto w-24rem">
      <div class="card-header my-5">
        <h5>¿No puedes iniciar sesión?</h5>
      </div>
      <div class="card-body m-auto mt-4">
        <form [formGroup]="formGroup" class="flex flex-column gap-3 w-full">
            <p class="light-text ml-1">Enviaremos un enlace de recuperación a</p>
          <input
            type="text"
            pInputText
            formControlName="email"
            placeholder="Introducir correo "
          />
          
          <p-message
            *ngIf="formGroup.get('email')?.errors?.['required'] && formGroup.get('email')?.touched"
            severity="error"
            text="El correo electrónico es obligatorio" ></p-message>

  
          <button class="border-round-sm border-0 border-none bg-primary " (click)="validIfEmailExists()">
            @if (!loading) {
              Enviar enlace de recuperación
             } @else {
              <p-progress-spinner strokeWidth="4" styleClass="geek-spinner"  fill="transparent" [style]="{ width: '25px', height: '25px', color: 'white' }" />
             }
          </button>

          <span *ngIf=""></span>
  
        </form>
  
        <section class="mt-6">
          <div class="flex flex-row gap-2 align-items-center justify-content-center">
              <a [routerLink]="['/login']"  class="link text-center">Volver al inicio de sesión</a>
          </div>
        </section>
  
      </div>
  
      <p-divider />
  
      <div class="card-footer flex align-items-center justify-content-center">
          <span>
              Creado por Georgezq
          </span>
      </div>
    </div>
  </section>
  