<section class=" h-screen w-full flex">
        <div class="card h-8 m-auto h-auto w-24rem">
            <div class="card-header">
                <h5>Iniciar sesión para continuar</h5>
            </div>
            <div class="card-body m-auto mt-4">
                <form [formGroup]="formGroup" class="flex flex-column gap-3 w-full">
                    <input type="text" pInputText formControlName="email" placeholder="Introduce tu correo electrónico" />
                    
                    @if (emailExists) {
                        <p-password formControlName="password" [feedback]="false" [toggleMask]="true"  />
                    }

                    <p-button [label]='textButton' variant="outlined" [raised]="true" class="w-full"  />

                    <span>O continúa con:</span>

                        <button class="flex flex-row gap-2 justify-content-center align-items-center border-1 border-round border-400 p-button-outlined w-full p-2"> 
                            <img src="/public/svg/google.svg" alt="google logo">
                        <h5>Google</h5>
                    </button>

                </form>                
            </div>
            <div class="card-footer">

            </div>
        </div>
</section>