@use "./app/modules/auth/auth.scss";
@use "./app/modules/boards/board.scss";
@import "primeicons/primeicons.css";

/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



:root{
    --p-primary-color: #007bff;
    --secondary-color: #6c757d;
    --success-color: #28a745;
    --danger-color: #dc3545;
    --warning-color: #ffc107;
    --info-color: #17a2b8;
    --light-color: #f8f9fa;
    --dark-color: #343a40;

    /* colores de la pagina Trello */

    --dark-text: #172b4d;
    --link-color: #0c66e4;
    --ligh-text: rgb(94, 108, 132);


}
